{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
      {% if showForm %}
        <form action="/tweets" method="POST">
          <div class="form-group">
            <label for="name_field">Name:</label>
            {% if showName %}
              <input class="form-control" name="name" type="text" id="name_field" value="{{tweets[0].name}}"/>
            {% else %}
            <input class="form-control" name="name" type="text" id="name_field" value=""/>
            {% endif %}
            <label for="text_field">Text:</label>
            <input class="form-control" name="text" type="text" id="text_field"/>

            <button type="submit" class = "btn btn-primary">Submit</button>
          </div>
        </form>
      {% endif %}
    </div>
    <div class="col-sm-9">
      <!-- display tweets here -->
      {% for tweet in tweets %}
      <div id="tweetContainer" class="tweetbox">
        <img>
        <!--<li><a href="/users/{{tweet.name}}">{{tweet.name}}</a> - {{tweet.content}}</li>-->
        <div><a href="/users/{{tweet.name}}">{{tweet.name}}</a></div>
        <div>{{tweet.id}}: {{tweet.content}}</div>
      </div>
      
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}